<div class="container">

	<div class="hero row">
		<div class="cube"></div>
		<div class="cube"></div>
		<div class="cube"></div>
		<div class="cube"></div>
		<div class="cube"></div>
		<div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
		<div class="hero__title">
			<p>応募完了しました</p>


		</div>
	</div>
</div>


